.button{
  min-width: 150px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: var(--spacing-sm) 0;
}

.button.outlinedButton {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}

.button.outlinedButton:hover {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.button.outlinedDisabled {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}

.button.containedButton {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  border: 1px solid var(--primaryColor);
}

.button.containedButton:hover {
  background-color: transparent;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.button.containedDisabled {
  background-color: aliceblue;
  color: var(--secondaryColor);
  border: 1px solid aliceblue;
}
