.container {
  display: flex;
  flex-direction: column;
}

.table {
  text-align: center;
  flex: 1;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowsContainer {
  font-size: 24px;
  display: flex;
}

.rowsContainer > td,
th {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.title {
  font-weight: normal;
}

.rowsContainer.rowBg {
  background-color: aliceblue;
}

.noDataIcon {
  width: 100px !important;
  height: 100px;
  color: var(--disabledColor);
  margin: var(--spacing-md) 0;
}

.noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--disabledColor);
}
