.container {
  display: flex;
  flex-direction: column;
}

.tableContainer {
  flex: 1;
  overflow-x: auto;
}

.table{
  width: 100%;
}

.table > th, td{
  min-width: 200px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rowsContainer {
  font-size: 24px;
  display: flex;
}

.rowsContainer > td,
th {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

tr:nth-child(even) {
  background-color: aliceblue;
}

.title {
  font-weight: normal;
}

.noDataIcon {
  width: 100px !important;
  height: 100px;
  color: var(--disabledColor);
  margin: var(--spacing-md) 0;
}

.noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--disabledColor);
}
