:root {
  /* Colors */
  --primaryColor: #ffcc00;
  --secondaryColor: #000;
  --tertiaryColor: #fff;

  /* Spacings */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Fonts */
  --font-sm: 11px;
  --font-md: 13px;
  --font-lg: 15px;
  --font-xl: 18px;
}
