:root {
  --header-height: 115px;

  /* Colors */
  --primaryColor: #7BDAFF;
  --secondaryColor: #000;
  --tertiaryColor: #fff;
  --disabledColor: #c9c9c9;
  --inputBg: #2c2c2c;

  /* Spacings */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Fonts */
  --font-sm: 11px;
  --font-md: 13px;
  --font-lg: 15px;
  --font-xl: 18px;

  height: 100%;
  overflow: hidden;
}

#globalContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
}
